body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f063;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Optional: Center the buttons */
}

button {
    margin: 1% 10px; /* Fixed margin on both sides of the buttons */
    padding: 20px 30px;
    font-size: 16px;
    background-color: #008080;
    color: #000000;
    border: none;
    width: 200px;
}

.search-container {
    max-width: 600px;
    padding: 60px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.search-header input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.directory-section {
    margin-top: 20px;
}

.checkbox-row label {
    margin-right: 20px;
}

.button-row {
    margin-top: 30px;
    display: inline-block;
}

.button-row button {
    padding: 10px 20px;
    font-size: 16px;
}

.output-box {
    margin-top: 20px;
}

#cancel {
    background-color: #ce0d0d;
    color: #000000;
    border: none;
    width: 200px;
}

.row {
    display: flex;
    gap: 20px;
    justify-content: center; /* Center the buttons horizontally */
}
  
.button-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}